<div class="bought-list-container">
  <h1>List Movies</h1>
  <div class="element-movies active-button" style="cursor: pointer;">
    <img src="css/images/dummy.png" alt="Movie poster" class="movie-poster">
    <div class="movie-info">
      <h3 class="movie-title">Batman Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, provident? (2013)</h3>
      <h4 class="movie-director">Manoj Punjabi</>
      <p class="movie-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, deleniti dignissimos similique consequatur quaerat expedita qui voluptate delectus alias esse?
      </p>
      <p class="movie-genres">Horror, Sci-Fi</p>
      <sl-rating label="Rating" readonly value="3"></sl-rating>
    </div>
  </div>
  <div class="element-movies active-button" style="cursor: pointer;">
    <img src="css/images/dummy.png" alt="Movie poster" class="movie-poster">
    <div class="movie-info">
      <h3 class="movie-title">Batman Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, provident? (2013)</h3>
      <h4 class="movie-director">Manoj Punjabi</>
      <p class="movie-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, deleniti dignissimos similique consequatur quaerat expedita qui voluptate delectus alias esse?
      </p>
      <p class="movie-genres">Horror, Sci-Fi</p>
      <sl-rating label="Rating" readonly value="3"></sl-rating>
    </div>
  </div>
  <div class="element-movies active-button" style="cursor: pointer;">
    <img src="css/images/dummy.png" alt="Movie poster" class="movie-poster">
    <div class="movie-info">
      <h3 class="movie-title">Batman Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, provident? (2013)</h3>
      <h4 class="movie-director">Manoj Punjabi</>
      <p class="movie-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, deleniti dignissimos similique consequatur quaerat expedita qui voluptate delectus alias esse?
      </p>
      <p class="movie-genres">Horror, Sci-Fi</p>
      <sl-rating label="Rating" readonly value="3"></sl-rating>
    </div>
  </div>
</div>