<div style="background-color:;" class="browse-container">
<form action="" class="search-bar active-button" id="search-form">
	<input type="search" name="search" pattern=".*\S.*" id="search-input">
	<button class="search-btn" type="submit">
		<span>Search</span>
	</button>
</form>
  {{>galery_movies}}
</div>