<div style="color: white" class="detail-movies-container">
    <div id="detail-movies">
        {{>video_player title=data.title video=data.video price-info = data.price desc = data.description year=data.release_year director=data.director genre=data.genre rating=rating isBought=isBought}}
    </div>
    <div style="margin: 3% 5%; width:90%">
        {{>list_movies data=movies}}
    </div>
    <div class="review-container" style="margin: 3% 5%; width:90%">
        {{>review data=review users=users}}
    </div>
</div>