<div style="color: white" class="detail-movies-container">
    <div>
        {{>video_player}}

    </div>
    <div style="margin: 3% 5%; width:90%">
        {{>list_movies}}
    </div>
    <div class="review-container" style="margin: 3% 5%; width:90%">
    {{>review}}
    </div>
</div>