<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="" id="signupForm">
      <h1>Daftar Akun</h1>
      <span>......</span>
      <input type="text" id="daftarNamaDepan" placeholder="Nama depan" />
      <input type="text" id="daftarNamaBelakang" placeholder="Name belakang" />
      <input type="email" id="daftarEmail" placeholder="Email" />
      <input type="username" id="daftarUsername" placeholder="Username" />
      <input type="password" id="daftarPassword" placeholder="Password" />
      <button
        class="active-button"
        type="submit"
        style="cursor: pointer;"
      >Daftar</button>
      <button
        class="ghost-mobile active-button"
        style="cursor: pointer; background-color:#101010; margin: 10px;"
        id="signIn-mobile"
      >Masuk</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="" id="loginForm">
      <h1>Masuk</h1>
      <span>......</span>
      <input type="username" id="loginUsername" placeholder="Username" />
      <input type="password" id="loginPassword" placeholder="Password" />
      <span style="margin:10px;">Jangan sampai salah ya!</span>
      <button
        class="active-button"
        type="submit"
        style="cursor: pointer;"
      >Masuk</button>
      <button
        class="ghost-mobile active-button"
        style="cursor: pointer; background-color:#101010; margin: 10px;"
        id="signUp-mobile"
      >Daftar</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Halo Bung!</h1>
        <p>Jika kamu sudah memiliki akun, langsung masuk aja ya!</p>
        <button class="ghost active-button" id="signIn">Masuk</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Halo Bung!</h1>
        <p>Kamu belum punya akun? Yuk daftar dulu!</p>
        <button class="ghost active-button" id="signUp">Daftar</button>
      </div>
    </div>
  </div>
</div>