:root {
  background-color: #262626;
}
html,
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
}
.container-body {
  color: white;
}
hr {
  border: 1px solid #999999;
  width: 85vw;
  margin-bottom: 30px;
}

.active-button {
  transition: all 0.3s;
}

.active-button:hover {
  transform: scale(1.05);
}

/* Navbar */
.container-nav {
  padding: 40px 40px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.nelfix {
  display: flex;
  background-color: #ffff;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.content-nav {
  display: flex;
  flex-direction: space-between;
}

.nav-button {
  cursor: pointer;
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  justify-content: center;
  align-items: center;
  background-color: #9999;
}

.nav-list {
  display: none;
  background-color: #ffff;
  position: absolute;
  list-style: none;
  right: 0;
  margin: 0px 20px;
}

.nav-list.active {
  transition: all 0.3s;
  display: flex;
}

.nav-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.nav-list li {
  margin: 10px;
}
/* Media query for mobile devices */
@media (min-width: 768px) {
  .nav-button {
    display: none;
  }
  .nav-list {
    display: flex;
    position: relative;
    margin: 0;
    color: #ffff;
    align-items: center;
    background-color: transparent;
  }
  .nav-list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
/* Navbar */

/* Footer */
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 100%;
}

.container-footer div {
  margin: 10px 10px;
}

/* Footer */

/* Show Page */
.container-show {
  display: flex;
  width: 60%;
  margin: 0% 20%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  border-radius: 10px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
}
.wrapper-first-image{
  display: relative;
  text-decoration: none;
}

.container-show button {
  margin: 10px 10px;
  width: 70%;
  height: auto;
  padding: 5px 0px;
  background-color: #e50000;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.container-show button:hover {
  background-color: #e50000; /* Warna latar belakang saat hover */
  color: white; /* Mengubah warna teks saat hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan saat hover */
  transform: scale(1.05);
}

.container-show .group-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* Show Page */

/* List Movies */
.list-movies-container {
  color: white;
}

.list-movies-container .list-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 10px;
}

.list-movies-container .list-container::-webkit-scrollbar {
  display: none;
}

/* List Movies */

/* Card Movies */
.card-container {
  background-color: #404040;
  min-width: 200px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.card-container img {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
}
@media (max-width: 768px) {
  .card-container {
    min-width: 160px;
    max-width: 250px;
  }
}
@media (max-width: 480px) {
  .card-container {
    min-width: 90px;
    max-width: 200px;
  }
}
/* Card Movies */

/* Galery movies */
/* Desktop */
.galery-movies-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
}
/* Laptop L*/
@media (max-width: 1024px) {
  .galery-movies-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
/* Laptop */
@media (max-width: 1024px) {
  .galery-movies-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Tablet */
@media (max-width: 768px) {
  .galery-movies-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Mobile */
@media (max-width: 480px) {
  .galery-movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pagi-butt {
  margin: 10px 10px;
  height: auto;
  padding: 10px 35px;
  color: white;
  background-color: #e50000;
  border: none;
  border-radius: 5px;
  display: inline;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}
/* Pagination */
/* Galery movies */

/* Search */
.browse-container form {
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}
button,
input {
  line-height: 1.5em;
  background-color: white;
}
input {
  color: #171717;
}
.search-bar {
  display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 10px;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #ffff inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #ffff;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #999999;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #e50000;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  .browse-container input {
    color: #f1f1f1;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}
/* Search */

/* Browse */
.browse-container {
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Browse */

/* Detail Movies */
.detail-movies-container {
  color: white;
}
/* Detail Movies */

/* Video Player */
.video-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video-container {
  width: 90%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.desc-video {
  position: relative;
  margin: 1% 8%;
}

sl-rating {
  --symbol-color: #ffff;
  --symbol-color-active: #e50000;
}

.video-container video[disabled] {
  pointer-events: none;
}
.denied {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30% 0%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  pointer-events: none;
  z-index: 2;
}

#video:not([disabled]) + .denied {
  display: none;
}
.purchase-container {
  display: flex;
  align-items: center;
}

#buy-button {
  margin-right: 10px;
}

.coins-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.price-info {
  font-size: 1em;
  font-weight: bold;
}
/* Video Player */

/* Review */
.review-container {
}
sl-textarea::part(textarea) {
  color: white;
}
sl-textarea::part(base) {
  background-color: transparent;
  border-color: #9999;
  border-radius: 10px;
}
.detail-movies-container button {
  margin: 10px 10px;
  height: auto;
  padding: 10px 35px;
  color: white;
  background-color: #e50000;
  border: none;
  border-radius: 5px;
  display: inline;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin: 3% 5%;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.comment-content {
  flex: 1;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.username {
  margin: 0;
  margin-right: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.comment-text {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* Review */

/* Bought list */
.bought-list-container {
  color: white;
  margin: 0% 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element-movies {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
}

.movie-poster {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  margin: auto;
}

.movie-info {
  flex: 1;
  margin-left: 3%;
}

.movie-title {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.movie-year,
.movie-director,
.movie-genres {
  margin: 8px 0;
  font-size: 1em;
}

.movie-description {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 8px;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .element-movies {
    flex-direction: column;
    align-items: center;
  }

  .movie-poster {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }

  .movie-info {
    text-align: center;
  }

  .movie-title {
    font-size: 1.2em;
  }
}
/* Bought list */

/* Wishlist */
.wishlist-container {
  color: white;
  margin: 0% 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Wishlist */
