<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/shoelace-autoloader.js"></script>
  </head>
  <body style="margin:0;">
    <header class="container-nav">
        <div class="nelfix active-button">
            <img src="css/images/Nelfix.svg" alt="" width="" />
            <p>Nelfix</p>
        </div>
    </header>
    <div style="display: flex; justify-content: center; align-items:center;">
        {{{body}}}
    </div>
    {{> footer }}
    <script src="js/login.js"></script>
  </body>
</html>