<div
  class="card-container active-button route-link"
  route="/detail"
  data-query="?id_user={{user.id}}&id_film={{id}}"
  style="cursor: pointer;"
>
  <img src="{{cover}}" alt="" style="margin-bottom: 0px;" />
  <div style="width:100%;">
    <p class="card-info">{{title}}</p>
  </div>
</div>