<div class="card-container active-button" style="cursor: pointer;">
  <img src="{{cover}}" alt="" style="margin-bottom: 0px;"/>
  <div style="margin-top: 0px;">
    <span class="price-info">{{title}}</span>
  </div>
</div>