<footer>
  <div class="container-footer">
    <div>
      Connect with us
    </div>
    <div>
      <img
        src="css/images/IconFb.svg"
        alt=""
        style="cursor: pointer;"
        class="active-button"
      />
      <img
        src="css/images/IconTwt.svg"
        alt=""
        style="cursor: pointer;"
        class="active-button"
      />
      <img
        src="css/images/IconIn.svg"
        alt=""
        style="cursor: pointer;"
        class="active-button"
      />
    </div>
    <hr />
  </div>
</footer>