<div class="galery-movies-container" id="galery-movies-container" style="padding: 10px;">
    {{#each data}}
        {{>card_movies cover=this.coverImage title=this.title}}
    {{/each}}
</div>
<div class="pagination">
    {{#if (gt page 1)}}
        <a class="pagi-butt active-button" href="/dashboard?page={{subtract page 1}}&pageSize={{pageSize}}">Previous</a>
    {{/if}}
    {{#if (lt (multiply pageSize (add page 1)) total)}}
        <a class="pagi-butt active-button" href="/dashboard?page={{add page 1}}&pageSize={{pageSize}}">Next</a>
    {{/if}}
</div>