<div class="galery-movies-container" style="padding: 10px;">
    {{#each movies}}
        {{>card_movies url=movies.coverImage title=movies.title}}
    {{/each}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
    {{>card_movies}}
</div>