<navbar>
  <div class="container-nav">
    <div class="nelfix active-button">
      <img src="css/images/Nelfix.svg" alt="" width="" />
      <p>Nelfix</p>
    </div>
    <div class="content-nav">
      <div class="nav-button active-button" id="nav-button">
        <img src="css/images/Menu.svg" alt="" />
      </div>
      <div class="nav-list" id="nav-list">
        <ul>
          <li><div
              class="active-button"
              style="cursor: pointer;"
            >Profile</div></li>
          <li><div
              class="active-button"
              style="cursor: pointer;"
            >Search</div></li>
          <li><div
              class="active-button"
              style="cursor: pointer;"
            >Wishlist</div></li>
          <li><div class="active-button" style="cursor: pointer;">My Movies</div></li>
        </ul>
      </div>
    </div>

  </div>
</navbar>