  <div class="purchase-container" id="purchase">
    <button
      id="buy-button"
      class="active-button"
      style="cursor: pointer;"
    >Beli</button>
    <img
      src="css/images/icons8-coins-96.png"
      alt="Coins icon"
      class="coins-icon"
    />
    <span class="price-info">{{price}}</span>
  </div>