<div>
  <h1>Review</h1>
  <form action="submit" method="post">
    <sl-textarea
      resize="auto"
      placeholder="Jangan lupa tinggalkan kesan pesan anda"
      color="white"
    ></sl-textarea>
    <button class="active-button" style="cursor: pointer;">Kirim</button>
    <sl-rating label="Rating" precision="0.5" value="3.5"></sl-rating>
  </form>
  {{! review list }}
  <div class="comment">
    <img
      src="css/images/user-profile-icon.jpg"
      alt="User profile picture"
      class="profile-pic"
    />
    <div class="comment-content">
      <div class="user-info">
        <h3 class="username">Username</h3>
        <sl-rating
          label="Rating"
          precision="0.5"
          readonly
          value="3.5"
        ></sl-rating>
      </div>
      <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, odit dicta quo iusto impedit explicabo quaerat, cumque tenetur recusandae earum id similique temporibus, nostrum quidem rem odio voluptas quae aut.</p>
    </div>
  </div>
  <div class="comment">
    <img
      src="css/images/user-profile-icon.jpg"
      alt="User profile picture"
      class="profile-pic"
    />
    <div class="comment-content">
      <div class="user-info">
        <h3 class="username">Username</h3>
        <sl-rating
          label="Rating"
          precision="0.5"
          readonly
          value="3.5"
        ></sl-rating>
      </div>
      <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, odit dicta quo iusto impedit explicabo quaerat, cumque tenetur recusandae earum id similique temporibus, nostrum quidem rem odio voluptas quae aut.</p>
    </div>
  </div>
  <div class="comment">
    <img
      src="css/images/user-profile-icon.jpg"
      alt="User profile picture"
      class="profile-pic"
    />
    <div class="comment-content">
      <div class="user-info">
        <h3 class="username">Username</h3>
        <sl-rating
          label="Rating"
          precision="0.5"
          readonly
          value="3.5"
        ></sl-rating>
      </div>
      <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, odit dicta quo iusto impedit explicabo quaerat, cumque tenetur recusandae earum id similique temporibus, nostrum quidem rem odio voluptas quae aut.</p>
    </div>
  </div>
  <div class="comment">
    <img
      src="css/images/user-profile-icon.jpg"
      alt="User profile picture"
      class="profile-pic"
    />
    <div class="comment-content">
      <div class="user-info">
        <h3 class="username">Username</h3>
        <sl-rating
          label="Rating"
          precision="0.5"
          readonly
          value="3.5"
        ></sl-rating>
      </div>
      <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, odit dicta quo iusto impedit explicabo quaerat, cumque tenetur recusandae earum id similique temporibus, nostrum quidem rem odio voluptas quae aut.</p>
    </div>
  </div>
  <div class="comment">
    <img
      src="css/images/user-profile-icon.jpg"
      alt="User profile picture"
      class="profile-pic"
    />
    <div class="comment-content">
      <div class="user-info">
        <h3 class="username">Username</h3>
        <sl-rating
          label="Rating"
          precision="0.5"
          readonly
          value="3.5"
        ></sl-rating>
      </div>
      <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, odit dicta quo iusto impedit explicabo quaerat, cumque tenetur recusandae earum id similique temporibus, nostrum quidem rem odio voluptas quae aut.</p>
    </div>
  </div>
</div>