<div>
  <h1>Review</h1>
  <form action="submit" method="post">
    <sl-textarea
      resize="auto"
      placeholder="Jangan lupa tinggalkan kesan pesan anda"
      color="white"
    ></sl-textarea>
    <button class="active-button" style="cursor: pointer;">Kirim</button>
    <sl-rating label="Rating" precision="0.5" value="3.5"></sl-rating>
  </form>
  {{! review list }}
  {{#each data}}
    <div class="comment">
      <img
        src="css/images/user-profile-icon.jpg"
        alt="User profile picture"
        class="profile-pic"
      />
      <div class="comment-content">
        <div class="user-info">
          <h3 class="username">{{this.username}}</h3>
          <sl-rating
            label="Rating"
            precision="0.5"
            readonly
            value={{this.rating}}
          ></sl-rating>
        </div>
        <p class="comment-text">{{this.comment}}</p>
      </div>
    </div>
  {{/each}}
</div>